body {
    font-family: Century Gothic;
    margin: 0;
    background-color: #e2d7d7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app {
    margin-top: 2rem;
    width: 40vw;
    height: 70vh;
    border: 2px solid #452c63;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    border-radius: 1em;
}

.todo-header {
    width: 100%;
    background-color: #452c63;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20%;

    border-top-left-radius: 1em;

    border-top-right-radius: 1em;
}

.todo-header h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 3em;
}

.todo-header h1 a {
    color: white;
    text-decoration: none;
}

.todo-footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    margin:0;
    padding: 0;
    display:flex;
    justify-content: center;
   font-size: 1rem;
   color:gray;
}

.todo-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 75%;
}

.todo-form-wrapper {
    width: 80%;
    display: flex;
    justify-content: center;
    margin-bottom: 0.3em;
}

.todo-form {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.todo-form input {
    outline: none;
    border: none;
    padding: 1em;
    width: 80%;
    border-radius: 1em;
}

.todo-form button {
    outline: none;
    border: none;
    padding: 0 1.5em;
    background-color: white;
    cursor: pointer;
    border-radius: 1em;
}

.toggle-form button:hover {
    color: #452c63;
}

.toggle-todos-wrapper {
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    width: 80%;

}

.toggle-todos-wrapper button {
    width: 30%;
    padding: 0.5em;
    background-color: white;
    margin: 0;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 1em;
    transition: color 500ms ease;
}

.toggle-todos-wrapper button:hover {
    color: #452c63;
}

.toggle-todos-wrapper button:focus {
    color: #452c63;
}

.todo-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    overflow-y: scroll;
}

.todo {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    position: relative;
}

.todo:nth-child(2n+1)::before {
    content: '';
    background-color: #452c63;
    position: absolute;
    height: 60%;
    width: 2px;
    bottom: 20%;
    left: 0;
}

.todo:nth-child(2n)::before {
    content: '';
    background-color: #0066b2;
    position: absolute;
    height: 60%;
    width: 2px;
    bottom: 20%;
    left: 0;
}


.todo p {
    width: 90%;
    margin: 1em;
    cursor: pointer;
    text-transform: capitalize;
}

.todo-options {
    display: flex;
    align-items: center;

}

.category-status {
    display: flex;
    border-bottom: 1px solid gray;
    width: 80%;

}

.category-status p {
    width: 50%;
    user-select: none;
    margin: 0;
    padding: 1em;
    text-transform: capitalize;

}

.calendar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;

}

.calendar input {

    border: none;
}

::-webkit-scrollbar {
    width: 0;

}

.todo-item-padding {
    padding-right: 1em;
}

.todo-item-completed {
    color: #452c63;
    text-decoration: line-through;
}

.todo-options-item {
    cursor: pointer;
    margin: 0.2em;
}

.todo-edit-form {
    margin-top: 0.5em;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.todo-edit-form input {
    width: 75%;
    background-color: white;
    border: none;
    outline: none;
    padding: 1em;
    border-radius: 1em;
}

.todo-edit-form button {
    outline: none;
    border: none;
    border-radius: 1em;
    cursor: pointer;
    font-size: 0.8em;
    padding:0 0.5em;
}

.todo-options-item-hidden {
    visibility: hidden;
}

@media only screen and (min-width:800px) and (max-width:1200px) {
    .app{
        width: 60vw;
        height: 90vh;
    }
    .todo-edit-form input{
        width:75%;
    }
    .todo-edit-form{
        justify-content: space-evenly;
    }
}
@media only screen and (max-width:800px) {
    .app{
        border-radius: 0;
        margin:0;
        width: 100vw;
        height: 90vh;
        border:none;
   
    }
    .todo-header{
        border-radius: 0;
    }
    .todo-list{
        width:75%;
    }
 
    .todo-form button{
        padding: 0 1.5em;
    }
}
@media only screen and (max-width:500px) {
  
    .todo-form-wrapper{
        width: 95%;
    }
    .toggle-todos-wrapper{
        width: 95%;
    }
    .todo-list{
        width:90%;
    }
    .todo-form button{
        padding: 0 1em;
    }
}
