body {
    font-family: Century Gothic;
    margin: 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app {
    background-color: #fafafa;
    margin-top: 2rem;
    width: 40vw;
    height: 80vh;
    border: 1px solid rgba(26, 27, 31, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    border-radius: 5px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}

.todo-header {
    width: 100%;
    background-color: #2E5090;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.todo-header h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 3em;
    font-family: Montserrat;
    font-style: italic;
}

.todo-header h1 a {
    color: white;
    text-decoration: none;
}

.todo-footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    color: gray;
}

.todo-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 75%;
}

.todo-form-wrapper {
    width: 80%;
    display: flex;
    justify-content: center;
    margin-bottom: 0.3em;
}

.todo-form {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.todo-form input {
    outline: none;
    border: none;
    padding: 0.5em;
    width: 80%;
    border-bottom: 1px solid rgba(26, 27, 31, 0.1);
    background-color: inherit;
    font-family: Montserrat;
    font-size: 1.1rem;
}

.todo-form button {
    outline: none;
    color: white;
    background-color: #2E5090;
    padding: 0.5em 1.3em;
    cursor: pointer;
    border-radius: 10%;
    border: none;
    font-size: 1em;

}


.toggle-form button:hover {
    color: #452c63;
}

.toggle-todos-wrapper {
    margin: 1em 0;
    display: flex;
    justify-content: space-evenly;
    width: 80%;

}

.toggle-todos-wrapper button {
    width: 30%;
    padding: 0.5em;
    background-color: white;
    color: #1a1b1f;
    margin: 0;
    outline: none;
    border: 1px solid rgba(26, 27, 31, 0.1);
    cursor: pointer;
    border-radius: 1em;
    transition: color 500ms ease;
    font-family: Montserrat;
}

.toggle-todos-wrapper button:hover {
    color: #2E5090;
    border: 1px solid rgba(26, 27, 31, 0.2);
}

.toggle-todos-wrapper button:focus {
    color: #452c63;
}

.todo-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    overflow-y: scroll;
}

.todo {
    margin: 0.5em 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    width: 99%;
    position: relative;
    border: 1px solid rgba(26, 27, 31, 0.1);
    transition: box-shadow 0.2 ease;
    border-radius: 5px;

}

.todo:hover {
    border: 1px solid rgba(26, 27, 31, 0.2);
}

.todo:nth-child(2n+1)::before {
    content: '';
    background-color: #452c63;
    position: absolute;
    height: 100%;
    width: 1px;
    left: -1px;
}

.todo:nth-child(2n)::before {
    content: '';
    background-color: #2E5090;
    position: absolute;
    height: 100%;
    width: 1px;
    left: -1px;
}


.todo p {
    width: 80%;
    font-family: Montserrat;
    cursor: pointer;
    text-transform: capitalize;
}

.todo-options {
    display: flex;
    align-items: center;
    color: #1a1b1f;
}

.category-status {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(26, 27, 31, 0.1);
    width: 80%;

}

.category-status p {
    width: 20%;
    user-select: none;
    margin: 0;
    padding: 1em;
    text-transform: capitalize;
    font-family: Montserrat;

}

.calendar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 30%;

}

.calendar input {
    text-align: center;
    padding: 2px;
    font-family: Inter;
    border: 1px solid rgba(26, 27, 31, 0.1);
    border-radius: 5px;
}
.calendar input:hover{
    border: 1px solid rgba(26, 27, 31, 0.2); 
}
::-webkit-scrollbar {
    width: 0;

}

.todo-item-padding {
    padding-right: 1em;
}

.todo-item-completed {
    color: #F08080;
    text-decoration: line-through;
}

.todo-options-item {
    cursor: pointer;
    margin: 0.2em;
}

.todo-edit-form {
    margin-top: 0.5em;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.todo-edit-form input {
    border: none;
    width: 75%;
    background-color: inherit;
    border-bottom: 1px solid rgba(26, 27, 31, 0.1);
    outline: none;
    padding: 1em;
    font-family: Montserrat;
    font-size: 0.8rem;
}

.todo-edit-form button {
    outline: none;
    border: 1px solid rgba(26, 27, 31, 0.1);
    cursor: pointer;
    font-size: 0.8em;
    padding: 0 0.5em;
    border-radius: 0.6em;
    font-family: Montserrat;
    color: #1a1b1f;
}

.todo-options-item-hidden {
    visibility: hidden;
}

.date {
    font-size: 1rem;
    padding: 0;
    color: #1a1b1f;
    opacity: 0.6;
    width: 40%;
    text-align: center;
    user-select: none;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width:800px) and (max-width:1200px) {
    .app {
        width: 60vw;
        height: 90vh;
    }

    .todo-edit-form input {
        width: 75%;
    }

    .todo-edit-form {
        justify-content: space-evenly;
    }
}

@media only screen and (max-width:800px) {
    .app {
        border-radius: 0;
        margin: 0;
        width: 100vw;
        height: 100vh;
        border: none;

    }

    .todo-header {
        border-radius: 0;
    }

    .todo-list {
        width: 75%;
    }

    .todo-form button {
        padding: 0 1.5em;
    }

    .todo-edit-form {
        justify-content: space-evenly;
    }

    .todo-edit-form input {
        width: 70%;
    }

}

@media only screen and (max-width:500px) {
    .app {
        height: 100vh;
        justify-content: flex-start;
    }

    .todo-wrapper {
        margin-top: 1rem;
    }

    .todo-item-padding {
        padding-right: 0.6em;
        padding-left: 0.3em;
    }

    .todo-form-wrapper {
        width: 95%;
    }

    .toggle-todos-wrapper {
        width: 95%;
    }

    .todo-list {
        width: 93%;
    }

    .todo-form button {
        padding: 0 1em;
    }

    .todo-form input {
        font-size: 1rem;
    }

    .category-status {
        width: 92%;
    }

    .category-status p {
        margin-right: 1.5rem;
    }

    .date {
        justify-content: flex-start;
    }
}